.page.theme_light {
  --main-font: "IBM Plex mono", monospace;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --main-font-size: 18px;
  --accent-font-size: 120px;
  --main-text-color: #353430;
  --nav-menu-color: #353430;
  --border-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff0070;
  --title-bg-color: #ff8dcb;
  --section-title-color: #353430;
  --heading-color: #353430;
  --background-image: url(/images/cover-image-light.png);
  --background-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex mono", monospace;
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --main-font-size: 18px;
    --accent-font-size: 120px;
    --main-text-color: #353430;
    --nav-menu-color: #353430;
    --border-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff0070;
    --title-bg-color: #ff8dcb;
    --section-title-color: #353430;
    --heading-color: #353430;
    --background-image: url(/images/cover-image-light.png);
    --background-color: #fff1f7;
  }
  .page.theme_auto .header__rec {
    display: none;
  }
}

.page.theme_light .header__rec {
  display: none;
}
